<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="app">
    <template v-if="show">
        <p>hjchnwqjgf</p>
        <h1>n dbjvj</h1>
        <h4>ncfhqfqnocuqhufhyueuwwyfy</h4>
    </template>
    <template v-else>
        <p>hjchn11111wqjgf</p>
        <h1>n d3333bjvj</h1>
        <h4>ncfhqfqno3cuqhufhyueuwwyfy</h4>
    </template>
    <!--<div v-if="show">-->
        <!--hahaah-->
    <!--</div>-->
    <!--<div v-else>-->
        <!--xixixixixixix-->
    <!--</div>-->
</div>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            show:true
        }
    })
</script>

</body>
</html>